/* for phone */
@media (max-width: 480px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    width: 100%;
    background-color: blue;
    overflow: hiddengit;
  }

  header {
    height: 50px;
    background-color: white;
  }

  .headercontainer {
    width: 100%;
    width: 100%;
    display: flex;
  }

  headerlogo {
    width: 100%;
  }

  header ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
  }

  header li {
    padding: 20px;
  }
}
